body{
    width:1280px;
    margin: 0 auto;
    background-color:#ccc;
}
p, ul, li, input{
    margin: 0;
    padding: 0;
    list-style: none;
}
input, textarea{
    border: 1px solid #ccc;
    padding: 3px;
    background: transparent;
    resize:none;
}
input:focus, textarea:focus,button:focus{
    outline: none;
}
a:hover{
    cursor: pointer;
}
h3{
    text-align: center;
}
.show{
    display: block;
}
.hide{
    display: none;
}
.form{
    width:80%;
    height:600px;
    background: #aaa;
    margin: auto;
    margin-top: 50px;
    padding-top: 100px;
}
.item{
    width:220px;
    margin: auto;
    margin-top: 30px;
}
.item span{
    display: inline-block;
    width: 70px;
}
.item input{
    width: 130px;
}

/* manage */
#box{
    padding: 5px;
    overflow: hidden;
    margin-top: 20px;
}

#modules{
    float: left;
    width: 250px;
    height: 800px;
    background-color: #ddd;
}
#modules{
    margin-right: 5px;
    border: 1px solid #666;
}
#modules li{
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #666;
}
#content{
    min-height: 500px;
    background-color: #ddd;
    overflow: hidden;
}
#welcome{
    margin: 200px 0 0 200px;
    background: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
    -webkit-background-clip: text;
    color: transparent; 
    font-size: 28px;
    font-weight: bold;
    display:  inline-block/*none;*/;
}
.closeForm{
    float: right;
    top: 0px;
    right: 5px;
    font-size: 30px;
    padding: 0;
    margin:0;
    border:0;
}
#manage{
    display: none;
}
#bookList{
    margin: 5px;
    border: 1px solid #666;
}
.book span{
    display: inline-block;
    width: 32%;
    text-align: center;
    border-right: 1px solid #666;
}
.book span:last-child{
    border-right: none;
}
.listTop{
    height: 50px;
    line-height: 50px;
    border-bottom:  1px solid #666;
}
#bookInfo{
    padding: 10px;
    border-bottom:  1px solid #666;
}
#bookInfo input{
    border: 1px solid rgba(6,6,6,0);
    width: 250px;
}
#bookInfo textarea{
    width: 100%;
    height: 100px ;
    border: 1px solid rgba(6,6,6,0);
}
#bookInfo label a{
    display: inline-block;
    padding: 10px 30px;
    border: 1px solid #666;
    border-radius: 5px;
    margin-left: 25px;
    background-color: #bbb;
}
#addBook{
    float: right;
    padding: 5px 20px;
    border: 1px solid #666;
    border-radius: 5px;
    margin-right: 5px;
    background-color: #bbb;
}
/* 章节模态显示框 */
#bookModal{
    display: none;
    position: fixed;
    width: 90%;
    min-height: 500px;
    top:200px;
    background-color: #eee;
    opacity: 1;
    left: 5%;
    padding: 5px;
}
#bookModal label{
    display: inline-block;
    width:40%;
    margin-left: 5%;
    margin-top: 25px;
}
#bookModal textarea{
    width: 100%;
    height:100px;
}
#add_book{
    padding: 10px 30px;
    border: 1px solid #666;
    border-radius: 5px;
    margin-left: 25px;
    background-color: #bbb;
}
#modal{
    display: none;
    position: fixed;
    width: 90%;
    min-height: 500px;
    top:200px;
    background-color: #eee;
    opacity: 1;
    left: 5%;
    padding: 5px;
}
#chapter li span{
    display: inline-block;
    width: 32%;
    height: 50px;
    line-height: 50px;
    text-align: center;
}
#chapter li span input{
    border:1px solid rgba(6,6,6,0);
    text-align: center;
}
#chapter li textarea{
    width: 90%;
    margin:5px 0 0 30px;
    height:250px;
}
#chapter .chapter_info{
    display: none;
}
#chapter .chapter_info div{
    width: 500px;
    margin:auto;
}
#chapter .chapter_info div a{
   display: inline-block;
    padding: 10px 30px;
    border: 1px solid #666;
    border-radius: 5px;
    margin: 50px;
    background-color: #bbb;
}

#addChapter{
    display: none;
    width: 90%;
    margin: auto;
    padding: 10px;
    background-color: #ddd;
}
#addChapter lable{
    margin-left: 100px;
}
#addChapter input{
    height: 40px;
    line-height: 40px;
    border: 1px solid #666;
}
#addChapter textarea{
    margin-left: 150px;
    border: 1px solid #666;
    width: 80%;
    height:250px;
}
#addChapter label a{
    display: inline-block;
    padding: 10px 30px;
    border: 1px solid #666;
    border-radius: 5px;
    margin-left: 20%;
    background-color: #bbb;
}
#closeModal, #closebookModal{
    position: absolute;
    top: 0px;
    right: 12px;
    font-size: 30px;
}
#add_chapter{
    position: absolute;
    top: 20px;
    right: 100px;
    padding: 10px 30px;
    border: 1px solid #666;
    border-radius: 5px;
    background-color: #bbb;
}


#fiction{
    text-align: center;
}
table{
    border-collapse:collapse;
    border: 1px solid black;
}
 #fiction tr,#chapter tr{
    height: 55px;
    line-height: 55px;
    border: 1px solid black;
}
#fiction td, #chapter th, #chapter td{
    width: 100px;
    border: 1px solid black;
}
#fiction td:nth-child(2), #chapter th:nth-child(2),#chapter td:nth-child(2){
    width: 500px;
}

#info li{
    margin-top: 5px;
}
#info span{
    display: inline-block;
    width: 200px;
}

#addCharpter{
    display: none;
}