body{
    width:980px;
    margin: 0 auto;
    background-color: darkseagreen;
}
p, ul, li, input{
    margin: 0;
    padding: 0;
    list-style: none;
}
input, textarea{
    border: 1px solid #ccc;
    padding: 3px;
    background: transparent;
}
input:focus, textarea:focus{
    outline: none;
}
.form{
    width:80%;
    height:600px;
    background: #aaa;
    margin: auto;
    margin-top: 50px;
    padding-top: 100px;
}
.item{
    width:220px;
    margin: auto;
    margin-top: 30px;
}
.item span{
    display: inline-block;
    width: 70px;
}
.item input{
    width: 130px;
}
#submit{
    display: block;
    width:100px;
    margin: auto;
    margin-top: 100px;
    height: 50px;
    line-height: 50px;
    background: #f7df08;
    border-radius: 5px;
}

#modules{
    padding: 5px;
    display: inline-block;
}
#modules li{
    display: inline-block;
    width: 250px;
    height: 200px;
    background-color: aqua;
}
#modules li:nth-child(2){
    background-color: seagreen;
}
#modules li:nth-child(3){
    background-color: coral;
}
#modules li:nth-child(4){
    background-color: greenyellow;
}

#fiction{
    text-align: center;
}
table{
    border-collapse:collapse;
    border: 1px solid black;
}
 #fiction tr,#chapter tr{
    height: 55px;
    line-height: 55px;
    border: 1px solid black;
}
#fiction td, #chapter th, #chapter td{
    width: 100px;
    border: 1px solid black;
}
#fiction td:nth-child(2), #chapter th:nth-child(2),#chapter td:nth-child(2){
    width: 500px;
}

#info li{
    margin-top: 5px;
}
#info span{
    display: inline-block;
    width: 200px;
}

#addCharpter{
    display: none;
}